.card {
  --background: linear-gradient(to right, #74ebd5 0%, #acb6e5 100%);
  width: 220px;
  height: 280px;
  padding: 5px;
  border-radius: 1rem;
  overflow: visible;
  background: var(--background);
  position: relative;
  z-index: 1;
  text-decoration: none;
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  z-index: -1;
}

.card::before {
  background: linear-gradient(to bottom right, #f6d365 0%, #fda085 100%);
  transform: rotate(2deg);
}

.card::after {
  background: linear-gradient(to top right, #84fab0 0%, #8fd3f4 100%);
  transform: rotate(-2deg);
}

.cardInfo {
  --color: #d7b1cf;
  background: var(--color);
  color: rgb(61, 8, 8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0.7rem;
  position: relative;
  z-index: 2;
  padding: 16px;
}

.title {
  font-weight: bold;
  letter-spacing: 0.05em;
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.description {
  font-size: 0.9rem;
  line-height: 1.4;
  color: #3d0808;
}

.card:hover::before,
.card:hover::after {
  opacity: 0;
}

.card:hover .cardInfo {
  color: #74ebd5;
  transition: color 0.8s;
}